<% include header %>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <fieldset>
                    <legend><%= label %></legend>
                    <textarea id="c_editor" name="c_editor" class="col-sm-12" rows="10"></textarea>
                    <button id="c_save" type="button" class="btn btn-primary">保存</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<% include footer %>
